.card-list {
  width: 85vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
}

@media only screen and (max-width: 1730px) {
  .card-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (max-width: 1290px) {
  .card-list {
    grid-template-columns: repeat(2, 1fr);
    width: 75vw;
  }
}

@media only screen and (max-width: 965px) {
  .card-list {
    grid-template-columns: repeat(1, 1fr);
    width: max-content;
  }
}
